body {
    text-align: center;
    background: #000;
}

#controls {
    margin: 20px;
    width: 50%;
}

#arraycontainer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 400px;
    border: 2px solid crimson;
    border-radius: 10px;
}
#arraycontainer:hover{
    box-shadow: 0 0 30px 0 crimson,
    0 0 30px 0 crimson,
    0 0 10px 0 crimson inset;
}

.bar {
    background-color: blue;
    margin: 2px;
    width: 10px;
}
#container{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#arraygenerate{
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow:
      inset 2px 2px 3px rgba(255, 255, 255, 0.6),
      inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}
#arraygenerate:hover{
 
    background-color: rgba(255, 0, 0, 1);
  }
  #heading{
    font-family: 'Nosifer', sans-serif;
    color: #fff;
  }
  #algos{
    font-family: 'Josefin Sans', sans-serif;
  }
  .controls1{
    margin-left: 30px;
    margin-top: 35px;
    color: #fff;
  }
  #start-sort{
    background-color: #000;
    border: .5px solid crimson;
    border-radius: 10px;
    color: #fff;
    padding: 8px;
  }
  #stop-sort{
    background-color: #000;
    border: .5px solid crimson;
    border-radius: 10px;
    color: #fff;
    padding: 8px;
  }
  #stop-sort:hover{
    box-shadow: 0 0 30px 0 crimson,
    0 0 30px 0 crimson,
    0 0 10px 0 crimson inset;
  }
  #start-sort:hover{
    box-shadow: 0 0 30px 0 crimson,
    0 0 30px 0 crimson,
    0 0 10px 0 crimson inset;
  }
  #algorithmselection{
    color: black;
    border-radius: 3px;
  }
